* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f53b57;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box {
    width: 400px;
    max-width: 90%;
    background-color: #ffc048;
    border-radius: 5px;
    padding: 15px;
}

.row {
    margin-top: 20px;
}

.submit-btn {
    width: 100%;
    background-color: #485460;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    font-size: 19px;
    border-radius: 5px;
    cursor: pointer;
}